@import "../../App.css";

nav {
  width: 70%;
  padding: 0 1rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* padding: 1rem 0; */
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-green);
  font-size: 1.2rem;
  /* font-weight: bold; */
}

nav a:visited {
  color: var(--primary-green);
}

.navlist {
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.navlist:hover {
  background-color: gainsboro;
}

.currentPage {
  font-weight: 600;
  border-bottom: 2px solid var(--primary-green);
}
