@import "../../App.css";

nav {
  width: 70%;
  padding: 0 1rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-green);
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav a:visited {
  color: var(--primary-green);
}

nav a:hover {
  background-color: gainsboro;
}

.currentPage {
  font-weight: 600;
  background-color: var(--primary-yellow);
}
