.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.logo {
  grid-column: 1;
  min-width: 6rem;
  width: 6rem;
}

.footer-subtitle {
  color: var(--primary-green);
  font-weight: bold;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: black;
}

.footer-item-wrapper {
  padding: 1rem 1rem;
}
