:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-orange: #ee9972;
  --secondary-beige: #fbdabb;
  --highlight-lite: #edefee;
  --highlight-dark: #333333;
  --section-title: 56px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  /* background-color: var(--highlight-dark); */
}

/* .section-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  column-gap: 5px;
  max-width: 1440px;
  margin: auto;
}

.section-content-wrapper {
  grid-column: 3 / span 8;
} */

.section-grid {
}

.section-content-wrapper {
  max-width: 61.625rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
}

.rounded {
  border-radius: 16px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
}

.footer-subtitle {
  color: var(--primary-green);
  font-weight: bold;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: black;
}

.footer-item-wrapper {
  padding: 1rem 1rem;
}

.hero-section {
  background-color: var(--primary-green);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.hero-image {
  object-fit: cover;
  border-radius: 16px;
}

.hero-title {
  color: var(--primary-yellow);
  font-size: var(--section-title);
  font-family: "Markazi Text";
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-family: "Markazi Text";
  color: white;
  font-size: 32px;
  margin-bottom: 1rem;
}

.hero-text {
  color: white;
  margin-bottom: 2rem;
  font-weight: 300;
  width: 85%;
  line-height: 141%;
}

.hero-cta {
  width: 180px;
  border-radius: 16px;
  background-color: var(--primary-yellow);
  padding: 1rem;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.hero-cta:visited {
  color: black;
}

.booking-title {
  font-size: var(--section-title);
  font-family: "Markazi Text";
  color: var(--primary-green);
}

.booking-section {
  justify-content: center;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
}

.primary-btn {
  border-radius: 16px;
  background-color: var(--primary-yellow);
  padding: 1rem;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.secondary-btn {
  border-radius: 16px;
  background-color: var(--primary-green);
  color: white;
  padding: 1rem;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.booking-input {
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  border-width: 0;
  width: 100%;
  color: #111827;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: 1rem 0;
}

.booking-input:focus {
  outline: 2px solid var(--primary-green);
  outline-offset: 3px;
}

select option {
  padding: 1.2rem;
}

.booking-err-msg {
  color: rgb(194, 2, 2);
  margin-bottom: 1rem;
  width: 100%;
}

.special-title {
  font-size: var(--section-title);
  font-family: "Markazi Text";
  font-weight: 300;
}

.menu-photo {
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.menucard-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-card {
  width: 265px;
  height: 439px;
  background-color: var(--highlight-lite);
  position: relative;
  border-radius: 16px 16px 0 0;
}

.menu-card:hover {
  box-shadow: 0 0 5px 3px var(--primary-yellow);
  cursor: pointer;
}

.menu-card-price {
  color: var(--secondary-orange);
  font-weight: 600;
}

.menu-card-price::before {
  content: "$";
  padding-right: 0.5rem;
}

.menu-name {
  font-family: "Markazi Text";
  font-size: 24px;
}

.menu-card-description {
  color: var(--primary-green);
  line-height: auto;
}

.menu-card-order-btn {
  position: absolute;
  bottom: 1.5rem;
}
